// You should replace all this content with your styles :)
// Of course you can grab from here something you like :)

.container
  .header
    %h1 This is tonic gem gh-page
    %h2 Which was made with tonic-template: sass/compass/haml/coffee.
  .content
    .anime
      %img.shake(src="assets/images/bottle.png")
      .action
        %span.bubble
        %span.bubble2
        %span.bubble3
        %span.bubble4
        %span.bubble5
        %img.ruby(src="assets/images/ruby.png")
