// You should replace all this content with your styles :)
// Of course you can grab from here something you like :)

%h1
  %a( href='https://github.com/gazay/tonic' ) This is tonic gem gh-page

%h2 Which was made with tonic-template: sass/compass/haml/coffee.

.tonic-logo


